@import '../../styles.scss';


p {
    font-family: Lato, sans-serif;
}
  
.loading {
    color: white;
    padding-top: 50px;
    text-align: center;
}

#solarSystemContainer {
    // height: 80vh;
    width: 90vw;
}

#canvas {
    height: 80vh;
    width: 100%;
}

.ss-header {
    height: 5vh;
}