@import '../../styles.scss';


#ss-header {
    font-family: 'Courier New', Courier, monospace;
    font-weight: 200;
    font-size: smaller;
    position: fixed;
    top: $margin;
    left: $margin;
}
  
.loading {
    color: white;
    padding-top: 50px;
    text-align: center;
}

#solarSystemContainer {
    height: 100vh - 2*$margin;
    width: 95vw;
}

#canvas {
    height: 95%;
    width: 98%;
}
