<div id="solarSystemContainer">
    <div id="ss-header">
        <p>
            Sun exaggerated by {{ sunMultiplier }}x<br />
            Planets exaggerated by {{ planetMultiplier }}x<br />
            Click/tap and drag to pan around!<br />
            The camera is located on Earth.
        </p>
    </div>
    <ngx-spinner>
        <p class="loading">Fetching planetary data...<br />
            (this takes some time)</p>
        <progress id="progressbar" max="9"></progress>
    </ngx-spinner>
    <canvas #canvas id="canvas"></canvas>
</div>